.img-container {
    z-index: 0;
    width: 500px; height: 500px;
    position: absolute;
    top: 7%; right: 10%;

    img {
        width: 100%;
        opacity: 0.9;
        border-radius: 5px;
    }
}


